@media screen and (max-width: 1000px) {
  #searchBar {
    max-width: 700px;
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 25px;
    -webkit-text-stroke: 1.5px #355aa9;
  }
  .modal {
    font-size: 15px;
  }
  .navbar {
    justify-content: center;
  }
  .form-control {
    width: 100%;
  }
  .navbar {
    margin: 10px 0;
    .navbar-brand {
      span.title-header {
        font-size: 80px;
        color: #ffc700;
      }
      span.title-subheader {
        font-size: 30px;
      }
    }
  }
  span.title-header__landing {
    font-size: 80px;
    color: #ffc700;
    letter-spacing: 10px;
    -webkit-text-stroke: 2.5px $pokemonBlue;
    -webkit-text-fill-color: $pokemonYellow;
    #pokeball-letter {
      width: 50px;
      position: relative;
      left: 4px;
    }
  }
}
