@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

$pokemonRed: #dc0a2d;
$pokemonYellow: #ffc700;
$pokemonBlue: #355aa9;
$pokemonGrey: #dddddd;
$pokeFont: 'Kaushan Script', cursive;
$pokeFont2: 'PT Mono', monospace;

@mixin flexCenteredColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  background-color: $pokemonRed;
  text-align: center;
  align-content: center;
  overflow-x: hidden;
}

.github-link {
  img {
    position: absolute;
    right: 0;
    width: 50px;
  }
}

h1 {
  font-family: $pokeFont, fantasy, sans-serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffc700;
  -webkit-text-stroke: 7.5px #355aa9;
  -webkit-text-fill-color: #ffc700;
}

h5 {
  font-family: $pokeFont2;
  font-size: 35px;
  margin: 0;
  color: black;
}

#pokeball-letter {
  width: 50px;
  position: relative;
  left: 2px;
}

.navbar {
  @include flexCenteredColumn();
  font-family: $pokeFont, fantasy, sans-serif;
  margin: 10px;
  padding: 0;
  .navbar-brand {
    @include flexCenteredColumn();
    margin: 0;
    font-size: 50px;
    span.title-header {
      letter-spacing: 6px;
      font-size: 100px;
      color: #ffc700;
      -webkit-text-stroke: 2.5px $pokemonBlue;
      -webkit-text-fill-color: $pokemonYellow;
    }
    span.title-subheader {
      margin-top: -34px;
    }
  }
}

ul {
  @include flexCenteredColumn();
  list-style: none;
  width: 100vw;
}

.pokemonSelectorButton {
  @include flexCenteredColumn();
  height: 100px;
  width: 80vw;
  border: none;
  background: #111;
  color: #f0f0f0;
  font-size: 30px;
  border: 1px solid $pokemonGrey;
  transition: ease .5s;
  &:hover {
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: yellow;
    background: #dc0b2d;
    letter-spacing: 10px;
  }
}

.list-group-item {
  background-color: rgba(46, 46, 46, .89);
  padding: 5px;
  border-radius: 22px;
}

#searchBar {
  width: 100%;
  margin: 0;
  .form-control {
    margin: 0;
  }
}

#searchBar::-webkit-search-cancel-button {
  display: none;
}

.app-container {
  animation: fadeInCont 2s;
}

@keyframes fadeInCont {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@import './pokemonStyle';

@import './landingPage';
@import './modalStyle';
@import './resize';
