@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  background-color: #dc0a2d;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow-x: hidden;
}

.github-link img {
  position: absolute;
  right: 0;
  width: 50px;
  z-index: 100;
}

h1 {
  font-family: "Kaushan Script", cursive, fantasy, sans-serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffc700;
  -webkit-text-stroke: 7.5px #355aa9;
  -webkit-text-fill-color: #ffc700;
}

h5 {
  font-family: "PT Mono", monospace;
  font-size: 35px;
  margin: 0;
  color: black;
}

#pokeball-letter {
  width: 50px;
  position: relative;
  left: 2px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Kaushan Script", cursive, fantasy, sans-serif;
  margin: 10px;
  padding: 0;
}

.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-size: 50px;
}

.navbar .navbar-brand span.title-header {
  letter-spacing: 6px;
  font-size: 100px;
  color: #ffc700;
  -webkit-text-stroke: 2.5px #355aa9;
  -webkit-text-fill-color: #ffc700;
}

.navbar .navbar-brand span.title-subheader {
  margin-top: -34px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  width: 100vw;
}

.pokemonSelectorButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  width: 80vw;
  border: none;
  background: #111;
  color: #f0f0f0;
  font-size: 30px;
  border: 1px solid #dddddd;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.pokemonSelectorButton:hover {
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: yellow;
  background: #dc0b2d;
  letter-spacing: 10px;
}

.list-group-item {
  background-color: rgba(46, 46, 46, 0.89);
  padding: 5px;
  border-radius: 22px;
}

#searchBar {
  width: 100%;
  margin: 0;
  font-family: "PT Mono", monospace;
}

#searchBar .form-control {
  margin: 0;
}

#searchBar::-webkit-search-cancel-button {
  display: none;
}

.app-container {
  -webkit-animation: fadeInCont 2s;
          animation: fadeInCont 2s;
}

@-webkit-keyframes fadeInCont {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeInCont {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.ground,
.normal {
  background: #a8a878;
}

.ground,
.rock {
  background-color: #e0c068;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.ghost {
  background-color: #705898;
}

.poison {
  background-color: #a040a0;
  color: #fff;
}

.flying {
  background-color: #a890f0;
}

.grass {
  background-color: #78c850;
}

.fighting {
  background-color: #c03028;
}

.fire {
  background-color: #f08030;
}

.ice {
  background-color: #98d8d8;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #b8b8d0;
}

.electric {
  background-color: #f8d030;
  color: #000;
}

.water {
  background-color: #6890f0;
}

.fairy {
  background-color: #ff9be1;
}

#pokemon-name,
.pokemon-name,
.pokemon-types {
  text-transform: capitalize;
}

.pokemon-picture {
  width: 30%;
  float: right;
}

.landing-container-title {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  top: 18%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: logoDrop 1.5s;
          animation: logoDrop 1.5s;
}

.background-container__bar {
  background-color: black;
  width: 100vw;
  height: 5vh;
  position: absolute;
  top: 48%;
  z-index: 1;
}

.background-container__outer-circle {
  background-color: white;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 10px solid black;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.background-container__inner-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid black;
  position: relative;
  top: 19%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.background-container__bottom {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
}

.background-container__bottom .begin-btn_container {
  background-color: #355aa9;
  position: relative;
  width: 300px;
  border-radius: 12px;
  height: 5vh;
  top: 20%;
  color: #ffc700;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

span.title-header__landing {
  font-size: 144px;
  color: #ffc700;
  letter-spacing: 10px;
  -webkit-text-stroke: 2.5px #355aa9;
  -webkit-text-fill-color: #ffc700;
}

span.title-header__landing #pokeball-letter {
  width: 75px;
  position: relative;
  left: 4px;
}

@-webkit-keyframes logoDrop {
  from {
    top: -50%;
  }
  to {
    top: 18%;
  }
}

@keyframes logoDrop {
  from {
    top: -50%;
  }
  to {
    top: 18%;
  }
}

@-webkit-keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.modal-header {
  color: white;
}

#modal-container {
  background: rgba(0, 0, 0, 0.26);
  width: 100vw;
  height: 100vh;
}

.modal-content {
  max-width: 700px;
  text-align: left;
  margin-left: 10px;
  border-radius: 10px;
}

.close {
  height: 50px;
  width: 50px;
  color: #000;
  padding-right: 50px;
  padding-top: 7px;
  padding-bottom: 25px;
  border-radius: 50%;
}

.close:hover {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  background: #dc0a2d;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  #searchBar {
    max-width: 700px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 25px;
    -webkit-text-stroke: 1.5px #355aa9;
  }
  .modal {
    font-size: 15px;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-control {
    width: 100%;
  }
  .navbar {
    margin: 10px 0;
  }
  .navbar .navbar-brand span.title-header {
    font-size: 80px;
    color: #ffc700;
  }
  .navbar .navbar-brand span.title-subheader {
    font-size: 30px;
  }
  span.title-header__landing {
    font-size: 80px;
    color: #ffc700;
    letter-spacing: 10px;
    -webkit-text-stroke: 2.5px #355aa9;
    -webkit-text-fill-color: #ffc700;
  }
  span.title-header__landing #pokeball-letter {
    width: 50px;
    position: relative;
    left: 4px;
  }
}
/*# sourceMappingURL=style.css.map */